.header {
  background-color: red;
}
.menu {
  background-color: blue;
}
.content {
  background-color: orange;
}
.footer {
  background-color: cadetblue;
}
.container {
  text-align: center;
  font-size: 20px;
  position: absolute;
}
body {
  background-color: yellowgreen;
}
